{% if not parties %}
{% extends "layout1.html" %}
{% endif %}

{% if parties %}
{% extends "layout.html" %}
{% endif %}

{% block title %}
    MyLocks
{% endblock %}

{% block main %}
<fieldset>
    <h1 id="rcorners2">MyLocks</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                    <div class="form-group">
                        <h5><button id="unlock-btn" class="btn btn-info btn-lg active" href="/unlock">UNLOCK</butotn></h5>
                        <h5><button id="lock-btn" class="btn btn-info btn-lg active" href="/lock">LOCK</button></h5>
                    </div>
            </div>
        </div>
    </div>
</fieldset>

<script>

  // Unlock
  $("#unlock-btn").click(function(){
      $.get("/unlock", function(){
        alert("Sent unlock request")
        location.reload(true)
      })
  });

  // Unlock
  $("#lock-btn").click(function(){
      $.get("/lock", function(){
        alert("Sent lock request")
        location.reload(true)
      })
  });

</script>

{% endblock %}