<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/static/favicon.ico" rel="icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
        <link href="/static/login.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Wi-Li: {% block title %}{% endblock %}</title>

    </head>
        <!-- {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %} -->

    <body>
        <header>
            <a href="/">    
            <div class="logo-container">
                <img id="logo" src="/static/lock-icon.png" alt="logo"/>
                <h4 class="logo">WiLi</h4>
            </div>
            </a>
            <nav>
                {% if session.user_id %}
                    <ul id="nav-links" class="nav-links">
                        <li><a class="nav-link" href="/">My Locks</a></li>
                        <li><a class="nav-link" href="/reset">Change Password</a></li>
                        <li><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul id="nav-links" class="nav-links">
                        <li><a class="nav-link" href="/register">Register</a></li>
                        <li><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </nav>
            <div class="locks">
                <img id="spin-lock" src="/static/spin-lock.png" alt="spin-lock"/>
            </div>
        </header>


        <main class="">
            
            {% block main %}{% endblock %}

            <div class="back-squares">
                <img class="design1" src="/static/design4.png" alt="design4"/>
                <img class="design2" src="/static/design2.png" alt="design2"/>
                <img class="design3" src="/static/design3.png" alt="design3"/>
                <img class="design4" src="/static/design4.png" alt="design4"/>
            </div>

        </main>

        <div class="footer-helper">
            <a href="https://engineering.brown.edu/"><footer>Brown University - ENGN 0032</footer></a>
        </div>
    </body>
    <script>
        var nav = document.querySelector("nav");
        var nav_toggled = false;

        $(".locks").click(function(){
            if (nav.style.display === "block") {
                nav.style.display = "none";
            } else {
                nav.style.display = "block";
            }
        });


        window.addEventListener('resize', function(event){
            if (window.outerWidth > 600){
                nav.style.display = "block";
                alert("helloooo plss");
            }
        });
    </script>
</html>
