{% extends "layout1.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <section class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1>WiLi, the lock of the future</h1>
                <p>
                    Limitless range with a click of a button.
                </p>
            </div>
            <div class="cta">
                <form action="/login" method="post">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                    <div></div>
                    <input name="password" placeholder="Password" type="password">
                    <button type="submit" class="cta-select"><span>Login</span></button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
