{% extends "layout1.html" %}

{% block title %}
    Register
{% endblock %}
{% block main %}
<section class="presentation">
    <div class="introduction">
        <div class="intro-text">
            <h1>Password Reset</h1>
        </div>
        <div class="cta">
            <form action="/reset" method="post">
                <input name="password" placeholder="Password" type="password">
                <input name="confirmation" placeholder="Re-type Password" type="password">
                <button id="submitbutton" type="submit" class="cta-select"><span>Reset</span></button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
